html {
    height: 100%;
}
body {
    font-family: Arial;
    height: 100%;
}
.app, .layout {
    height: 100%;
}
.header {
    height: 70px;
    width: 100%;
    background-image: linear-gradient(#669F64, #026e00);
    color: #fff;
}
.container {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.logo {
    font-size: 2em;
    width: 40%;
    padding-top: 20px;
}
.logo_link {
    color: #fff;
    text-decoration: none;
}
.sign_buttons {
    float: right;
    margin-top: -22px;
    clear: right;
}
.header_button {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}
.languages {
    float: right;
    margin-right: 300px;
    margin-top: -22px;
}
.languages-selected {
    text-decoration: underline;
}
.sign_button {
    border-radius: 5px;
    padding: 5px;
}
.sign_button-sighin {
    background: #333;
    border: 1px solid #333;
}
.sign_button-sighup {
    background: #fff;
    color: #000;
}
.main {
    height: calc(100% - 140px);
    overflow-y: auto;
    box-sizing: border-box;
}
.footer {
    height: 70px;
    width: 100%;
    background: #333;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.05);
    display: none;
}
.sign_form_wrapper {
    padding-top: 30px;
}
.sign_form {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 5px 5px #ccc;
    background: #fff;
    font-size: 0.9em;
}
.sign_form_close {
    display: block;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 25px;
    height: 25px;
    background: rgba(51, 51, 51, 0.9);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3px;
    cursor: pointer;
    font-size: 1.2em;
}
.sign_form_input {
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
    color: #383737;
    transition: all .15s;
    font-size: 1.2em;
}
.sign_form_input-submit {
    width: 40%;
    margin: 0 auto 5px;
    display: block;
    background: #50A14F;
    color: #fff;
    cursor: pointer;
    padding: 5px 0;
}
.sign_form_input-dropped {
    margin-top: 65px;
}
.sign_form_error {
    color: red;
    margin: -7px 0 7px;
}
.sign_form_error-hidden {
    display: none;
}
/*sidebar*/
.sidebar {
  float: left;
  height: 100%;
  width: 200px;
  padding: 5px 0;
  margin-right: 10px;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}
.sidebar_menu_link {
  display: block;
  height: 40px;
  color: #37A237;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 12px 15px;
  box-sizing: border-box;
  border-radius: 2px;
  transition: all .2s;
  font-weight: bolder;
}
.sidebar_menu_link:not(.sidebar_menu_link-active):hover {
  background: #37A237;
  color: #fff;
}
.sidebar_menu_link-active {
   background: #026e00;
   color: #fff;
}
/*content*/
.content {
    padding: 5px;
}
/*profile*/
.profile {
    padding-left: 220px;
}
.profile_item {
    margin: 13px 0 29px;
}
.profile_item_input {
    font-size: 0.9em;
    padding: 3px 5px;
    margin: -3px 0 -3px 10px;
    border-radius: 2px;
    border: 1px solid grey;
    height: 20px;
    box-sizing: border-box;
}
.profile_item_span {
    margin-left: 10px;
}
.profile_btn {
    height: 30px;
    background: #026E00;
    border: none;
    color: #fff;
    border-radius: 2px;
    font-size: 1em;
    box-shadow: 1px 1px 3px #434443;
    cursor: pointer;
    outline: none;
    padding: 0 10px 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.profile_btn_pair {
    margin-right: 10px;
}
.profile_btn-cancel {
    background: #D52121;
}
/*new task form*/
.task_form {
    padding: 18px 0 0 220px;
    position: relative;
}
.task_form_item {
    display: block;
    margin: 10px 0;
    border-radius: 4px;
    padding: 2px 5px;
    box-shadow: 1px 1px 2px #9C9E9C;
    font-size: 1em;
}
.task_form_input {
    min-width: 250px;
    border: 1px solid #A9A9A9;
}
.task_form_textarea {
    width: 90%;
    resize: vertical;
    min-height: 200px;
    overflow: auto;
    font-size: 1.2em;
}
.task_form_notification {
    position: absolute;
    top: 44px;
    right: 7%;
    background: #37A237;
    color: #fff;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 0.9em;
    opacity: 1;
    transition: all .5s;
}
.task_form_notification-hidden {
    opacity: 0;
}
/* tasks list */
.tasks {
    padding: 15px 0 5px 230px;
}
.task {
    margin-bottom: 10px;
}
.task_title {
    font-weight: bold;
    margin-bottom: 5px;
}
.task_description {
    margin-bottom: 15px;
}
.task_created {
    margin-bottom: 7px;
    font-size: 0.9em;
    font-style: italic;
}
.task_checked {
    font-size: 0.9em;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    /*margin: 5px 0 15px;*/
    float: right;
}
.task_checked-customer {
    margin: 5px 0 15px;
}
.task_checked-no {
   background: #EF3A1B; 
}
.task_checked-yes {
   background: #37A237; 
}
.line {
    margin-top: 15px;
    width: 100%;
}
.task_open_btn {
    display: block;
    margin: 0 0 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: #026e00;
    color: #fff;
    font-size: 0.9em;
    font-family: Arial;
    text-decoration: none;
    width: 70px;
    text-align: center;
}
.task_new_issue {
    text-decoration: none;
    color: #fff;
    background: #49a45c;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
/* users list */
.users_wrapper {
    padding: 13px 0 0 230px;
}
/* issue */
.issue {
    position: relative;
}
.issue_form {
    padding: 0;
}
.issue_btn {
    margin: 0 10px 0 0;
}
.issue_btn-delete {
    background: #D52121;
}
.issue_select_group {
    margin: 10px 0 90px;
}
.issue_select {
    margin: 0px 15px 0 10px;
    font-size: 0.9em;
    border-radius: 2px;
    border: 1px solid grey;
}
.issue_search {
    vertical-align: top;
    text-decoration: none;
    padding: 5px;
    background: #026e00;
}
.developers_table {
    width: 100%;
    margin: -10px 0 20px;
}
.developers_table_row {
    border-bottom: 1px solid #000;
}
.developers_table_row-body:hover {
    background: gainsboro;
}
.developers_table_cell {
    padding: 5px;
    cursor: pointer;
}
.developers_table_head {
    background: #ABABAB;
}